<div class="user-info">

    <div class="user-img pt-4">
        <img class="rounded-circle img-fluid" src="../../../assets/images/user_img.png" width="120">
        <div class="btn-box mt-3">
            <button class="btn black-bg">Upload image</button>
        </div>    
    </div>

    <div class="seprator"></div>

    <form>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="First Name" name="f_name">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="Last Name" name="l_name">
                </div>
            </div>    
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
            </div>
        </div>
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
            </div>
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <input type="text" class="form-control" placeholder="Date Of Birth" name="dob">
                </div>
            </div>
        </div>
        
        <div class="seprator"></div>

        <div class="address mb-3">Address</div>
        
        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="Street Number" name="streetNo">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="Tower Name" name="towerNo">
                </div>
            </div>    
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="City" name="city">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="State" name="state">
                </div>
            </div>    
        </div>

        <div class="form-group custom-label">
            <div class="row">
                <div class="col-sm-5 col-md-3">
                    <input type="text" class="form-control" placeholder="Country" name="country">
                </div>
                <div class="col-sm-5 col-md-3 mt-3 mt-sm-0">
                    <input type="text" class="form-control" placeholder="Zip Code" name="zipcode">
                </div>
            </div>    
        </div>

        <div class="seprator"></div>

        <div class="buttons pb-4 d-flex justify-content-start pl-sm-3">
            <button type="submit" class="btn btn-cancel mr-3">Cancel</button>
            <button type="submit" class="btn black-apply">Apply</button>
        </div>
    </form>

</div>