<div class="flex-container">
  <div class="box sidebar" id="sidebar" [ngClass]="status ? 'sidebar' : 'sidebarToggle'">
    <!-- navbar section -->
    <div class="sidebar">

      <nav class="navbar navbar-expand-lg">

        <!-- logo start -->
        <div class="page-logo">
          <a routerLink="/dashboard">
            <img alt="logo" src="assets/img/logo.png">
          </a>
        </div>
        <!-- logo end -->

        <div class="collapse navbar-collapse sidebar-offcanvas" id="navbarSupportedContent">

          <ul class="navbar-item-container navbar-nav mr-auto">

            <li class="nav-item">
              <div class="profile-info">
                <div class="profile-image">
                  <img src="../assets/img/person.png" alt="user">
                </div>
                <div class="name">Joseph Leo</div>
              </div>
            </li>

            <ul class="navbar-icons">
              <li><i class="fa fa-bell" aria-hidden="true"></i></li>
              <li><i class="fa fa-comments-o" aria-hidden="true"></i></li>
              <li><i class="fa fa-user" aria-hidden="true"></i></li>
            </ul>

            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/user/home">
                <i class="fa fa-home"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/user/inbox">
                <i class="fa fa-inbox"></i>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/user/collaborators">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <p>Collaborators</p>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
              <a routerLink="/user/jobs">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <p>Jobs</p>
              </a>
            </li>

          </ul>
        </div>
      </nav>
    </div>

    <!-- navbar section closed -->

  </div>
  <div class="boxTwo main-panel light-theme" id="mainPanel" [ngClass]="status ? 'main-panel' : 'mainToggle'">
    <div class="page-header navbar">
      <div class="page-header-inner ">
        <form class="form-inline search-box">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        <!-- logo start -->
        <div class="page-logo mobile-show">
          <a routerLink="/dashboard">
            <img class="hide-in-mobile" alt="logo" src="../assets/img/logo.png">
            <img class="show-in-mobile" alt="logo" src="../assets/img/logo.png">
          </a>
        </div>
        <!-- logo end -->

        <div class="top-menu">
          <ul class="nav navbar-nav pull-right mr-lg-5">
            <li class="nav-item desktop-hidden"><i class="fa fa-search" aria-hidden="true"></i></li>
            <li class="nav-item mobile-hidden"><i class="fa fa-commenting-o" aria-hidden="true"></i></li>
            <li class="nav-item mobile-hidden"><i class="fa fa-bell-o" aria-hidden="true"></i></li>
            <li class="nav-item"><i class="fa fa-user mr-2" aria-hidden="true"></i> <span class="mobile-hidden">My
                Profile</span></li>
            <li class="nav-item"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i> <span
                class="mobile-hidden">Logout</span></li>
          </ul>
        </div>

        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler collapsed" (click)="sidebarToggle()"
          data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <button>
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </button>
        </a>
        <!-- end mobile menu -->


      </div>
    </div>

    <div class="view-page page-content-wrapper">
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="page-footer">
      <div class="page-footer-inner">Copyright 2020 ©
        All Rights Reserved
        <div class="termsandconditions pull-right c-pointer">Terms & conditions</div>
        <div class="termsandconditions pull-right c-pointer">Privacy Plicy</div>
      </div>

    </div>


  </div>
</div>