<div class="row footer m-0">
    <div class="col-md-10 offset-md-1">
        <div class="d-md-flex align-items-center">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.jpg" alt="THAZBAZ">
            </a>
            <ul class="d-flex footer-links ml-md-auto">
                <li class="footer-link">
                    <a href="#">Home</a>
                </li>
                <li class="footer-link">
                    <a href="#">Subscription</a>
                </li>    
                <li class="footer-link">
                    <a href="#">Job Offers</a>
                </li>
                <li class="footer-link">
                    <a href="#">Automaton</a>
                </li>
            </ul>
        </div>

        <div class="row mt-4 mb-4">
            <div class="blocks col-md-3">
                <h2 class="heading">Information</h2>
                <ul class="information-links mt-3">
                    <li class="mt-2"><a href="#">About Us</a></li>
                    <li class="mt-2"><a href="#">Contact Us</a></li>
                    <li class="mt-2"><a href="#">Trust and Safety</a></li>
                    <li class="mt-2"><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="blocks col-md-3">
                <h2 class="heading">Job Alerts</h2>
                <ul class="information-links mt-3">
                    <li class="mt-2"><a href="#">Create Job Alert</a></li>
                    <li class="mt-2"><a href="#">Jobs by Category</a></li>
                    <li class="mt-2"><a href="#">Report a Problem</a></li>
                </ul>
            </div>
            <div class="blocks col-md-3">
                <h2 class="heading">Work Type</h2>
                <ul class="information-links mt-3">
                    <li class="mt-2"><a href="#">Work From Home</a></li>
                    <li class="mt-2"><a href="#">Full Time</a></li>
                    <li class="mt-2"><a href="#">Part Time</a></li>
                </ul>
            </div>
            <div class="blocks col-md-3">
                <div class="d-flex">
                    <div>
                        <div class="simple-heading mb-3">Follow us</div>
                        <div class="d-flex justify-content-between">
                            <div><img src="../../../assets/images/facebook3.png"></div>
                            <div><img src="../../../assets/images/linkedin3.png"></div>
                        </div>
                    </div>    
                    <div>
                        <div class="simple-heading ml-3 mb-3">Support</div>
                        <div class="text-center">
                            <div><img src="../../../assets/images/chat.png"></div>
                        </div>
                    </div>    

                </div>    
            </div>
        </div>
        
        <div class="sepration col-10 offset-1"></div>
        
        <div class="bottom-text col-10 offset-1 p-0">
            <div class="text-center">Copyright © 2020 all rights reserved</div>
            <div class="privacy-terms-link d-md-flex ml-0">
                <div class="mt-3 mt-md-0"><a class="privacy-policy" routerLink="/privacy-policy">Privacy Policy</a></div>
                <div class="mt-3 mt-md-0"><a class="terms-conditions ml-md-3">Terms & Conditions</a></div>
            </div>
        </div>

    </div>     
</div>
