<footer>
    <div class="container footer-content">
        <div class="row">
            <div class="logo col-md-4">
                <a href="#"><img src="assets/images/footer-logo.png" alt="" /></a>
            </div>
            <div class="footer-link col-md-8">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Subscription</a></li>
                    <li><a href="#">Job Offers</a></li>
                    <li><a href="#">Automation</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-box">

                <h4>Information</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Trust and Safety</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-box">

                <h4>Job Alert</h4>
                <ul>
                    <li><a href="#">Create Job Alert</a></li>
                    <li><a href="#">Jobs by Category</a></li>
                    <li><a href="#">Report a Problem</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-box">

                <h4>Work Type</h4>
                <ul>
                    <li><a href="#">Work From Home</a></li>
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Part Time</a></li>

                </ul>
            </div>
            <div class="col-md-3 social-box">
                <div class="row">
                    <div class=" col-md-6">
                        <h6>Follow-us</h6>
                        <div class="so-link">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <h6>Support</h6>
                        <div class="so-link">
                            <a href="#"><i class="fa fa-comment"></i></a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        Copyright © 2020 all rights reserved
        <div class="right-footer">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>