@import '../../../styles/mixin';


.page-wrapper{
    background-color: #ffffff;
    padding: 30px 20px;
    position: relative;
    min-height: 88vh;
}

.createJobBtn{
    @include primaryButton;
}

.cancelBtn{
    @include secondaryButton;
}

.createJobBtn:hover{
    @include buttonHover;
}

.filter-button{
    @include centerEverything;
}

.createJObBtn-icon{
    font-size:12px;
}

select {
  font-size: 14px;
}

//----Create job

.createJob-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 15px;
    display: none;
    overflow:hidden;
    overflow-y: auto;
    -webkit-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
z-index: 10;
}

.createJob-wrapper::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.createJob-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.createJob-wrapper::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.createJob-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.showModal{
    display: block!important;
}


.form-title{
    background: #e1e1e1;
    padding: 13px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.form-title h3{
    font-size: 30px;
    color: #000000;
    font-weight: 500;
    
}

.form-wrapper{
    margin-left: 20px;
}

.field-wrapper{
    margin-left: 20px;
    margin-bottom: 20px;
}

.section-title h4{
    color: #1e1e1e;
    font-size: 18px;
    margin-bottom: 10px;
}

.dash-line{
    width: 100%;
    border-bottom: 1px dashed #333333;
    margin-bottom: 10px;
}

label{
    font-size: 14px;
    color: #666666;
    font-weight: 500;
}

.form-control{
    height: 45px;
    border-radius: 10px;
    border-color: #c4c4c4;
}

.form-control::-webkit-input-placeholder{
    font-size: 14px;
    color: #b2b2b2;
}

//------------Filter Section

.filter-button{
    position: relative;
}

.filterBox-Wrapper{
    position: absolute;
    top: 35px;
    left: -11px;
    background: #ffffff;
    min-width: 270px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    background-color: white;
    padding: 15px 13px 50px 15px;
    z-index: 9;
    -webkit-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
-moz-box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
box-shadow: 0px 3px 14px -6px rgba(0,0,0,0.59);
display: none;
}

.filterBox-section .filter-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-check-label span {
  margin-left: 5px;
}

.filterBox-section{
    padding: 10px 0px;
    border-bottom: 1px solid #efefef;
}

.filterBox-section ul{
    margin-left: 10px;
}

.filter-values{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filter-values .input-group{
    font-size: 78px;
    width: 40%;
}

.filter-values .input-group span{
    font-size: 14px;
    background: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 30px;
}

.filter-values .form-control{
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
    border-color: #c4c4c4;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.flip {
  transform: rotate(-180deg);
  transform-origin: center center;
}

::ng-deep{
    .custom-slider .ng5-slider .ng5-slider-selection {
        background: #000000 !important;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer {
        background: #000000 !important;
        width: 20px;
        height: 20px;
        top: -8px;
    }

    .custom-slider .ng5-slider .ng5-slider-pointer:focus {
        border: none;
        outline:none;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        background: none!important;
    }
}

 @media (min-width: 768px) { 
     .desktop-hide{
        display: none;
    }
  }

@media (max-width:468px){
    .mobile-hide{
        display: none;
    }

    .mobile-heading-background{
        background: #ffffff;
    }
}