<div  class="white-body">
    <section class="banner">
        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-carousel', 'home-slider','owl-theme']" >  
            <div class="item" *ngFor="let img of HomeImages">  
                <div class="banner-img">
                    <img src="{{img}}" alt="banner" />
                    <div class="banner-caption">
                        <h1>5000+ Jobs</h1>
                        <h5>Available</h5>
                        <p>Search and find favorite job Get the opportunity
                            <br /> to do your favorite place job</p>
                        <div class="btn-box orange-btn">
                            <button type="text" class="btn">
                                Find Job
                            </button>
                        </div>
                    </div>
                </div>  
            </div>  
        </owl-carousel> 
    </section>
    <section class="how-it-works">
        <div class="container row align-items-center">
            <div class="how-img col-md-6">
                <div class="inner-box"><img src="assets/images/how-it-works.jpg" alt="how-img" /></div>
            </div>
            <div class="how-text col-md-6">
                <h2 class="page-heading">How it works!</h2>
                <p>By dealing with the company, we fill existing vacancies
                    with new employees.
                    We keep our happiness in the happiness of the people.
                    We try to get new employees to get jobs
                    as soon as possible</p>
                <div class="text-btn"><a href="#">View more</a></div>
            </div>
        </div>
    </section>
    <section class="signInJoinus">
        <div class="container text-center">
            <h2 class="page-heading">Sign in and join us!</h2>
            <p>Sign in so we can help you <br />
                and get you a job as soon as possible</p>
            <div class="btn-box">
                <button class="btn black-bg">Sign in</button>
            </div>
        </div>
    </section>
    <section class="new-arrival">
        <div class="container">
            <h2 class="page-heading text-center white-text">New Arrival</h2>
            <div class="custom-padding">
                <owl-carousel [options]="ArivalSlideOptions" [carouselClasses]="['owl-carousel', 'arrival-slider','owl-theme']" >  
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/usa-travel.jpg" alt="usa travel" />
                                        <span>Office Work<br />- Travel</span>
                                    </h3>
                                    <span class="orange-text">at ‘USA Travel’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn black-bg">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/ount-verno.jpg" alt="ount-verno" />
                                        <span>Wordpress Developer <br />
                                            - IT & Development</span>
                                    </h3>
                                    <span class="orange-text">at ‘Mount Vernon Company’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/mkt-exp.jpg" alt="mkt-exp" />
                                        <span>Marketing Executive <br />
                                            - Real Estate</span>
                                    </h3>
                                    <span class="orange-text">at ‘The Stovall Group’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn black-bg">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/usa-travel.jpg" alt="usa travel" />
                                        <span>Office Work<br />- Travel</span>
                                    </h3>
                                    <span class="orange-text">at ‘USA Travel’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn black-bg">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/ount-verno.jpg" alt="ount-verno" />
                                        <span>Wordpress Developer <br />
                                            - IT & Development</span>
                                    </h3>
                                    <span class="orange-text">at ‘Mount Vernon Company’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="arrive-box">
                            <div class="arriving-inner">
                                <div class="logo-box">
                                    <h3><img src="assets/images/mkt-exp.jpg" alt="mkt-exp" />
                                        <span>Marketing Executive <br />
                                            - Real Estate</span>
                                    </h3>
                                    <span class="orange-text">at ‘The Stovall Group’</span>
                                    <div class="gray-box">
    
                                        <ul>
                                            <li><span class="label">Experience</span>
                                                <span class="input">6+ month</span>
                                            </li>
                                            <li><span class="label">Salary</span>
                                                <span class="input">$205 to $500</span>
                                            </li>
                                            <li><span class="label">Location</span>
                                                <span class="input">Nevadam,USA</span>
                                            </li>
                                            <li><span class="label">Type</span>
                                                <span class="input">Full Time</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="btn-box width-auto">
                                        <button class="btn black-bg">Apply </button>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>  
                </owl-carousel> 
            </div>
        </div>
    </section>
    <section class="other-vacancy">
        <div class="container">
            <div class="row">
    
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6 vacany-box">
                    <div class="vacancy-boxInner">
                        <div class="logo-box">
                            <h3><img src="assets/images/idea.jpg" alt="idea">
                                <span> PHP Developer - IT & Development
                                    <span class="orange-text">at ‘idearoute Solution’</span>
                                </span>
    
                            </h3>
    
                            <div class="gray-box white-box">
    
                                <ul>
                                    <li><span class="label">Experience</span>
                                        <span class="input">2+ years</span>
                                    </li>
                                    <li><span class="label">Salary</span>
                                        <span class="input">$2050 to $5000</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="label">Location</span>
                                        <span class="input">Nevadam,USA</span>
                                    </li>
                                    <li><span class="label">Type</span>
                                        <span class="input">Part Time</span>
                                    </li>
                                </ul>
                            </div>
                            <p>Basic computer operating skills & Good Typing Speed.</p>
                            <p>This is an an independent, flexible, part-time position- 10-15 hours per week.</p>
    
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="btn-box text-center">
                <button class="btn gray-bg">View all</button>
            </div>
        </div>
    </section>
    <section class="out-partner">
        <div class="container">
            <h2 class="page-heading text-center">Our Partner</h2>
            <owl-carousel [options]="PartnersSlideOptions" [carouselClasses]="['owl-carousel', 'our-partners','owl-theme']" >  
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/intel.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/microsoft.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/HP-Logo.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/intel.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/microsoft.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/HP-Logo.png"></div>
                </div>
                <div class="items">
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </div>
                       
                
            </owl-carousel> 
            <!-- <ul class="owl-carousel our-partners owl-theme">
                <li>
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/intel.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/microsoft.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/HP-Logo.png"></div>
                </li>
                <li>
                    <div class="partner-logo"><img src="assets/images/google.png"></div>
                </li>
            </ul> -->
        </div>
    </section>
</div>