<div class="main_content">
    <div class="container">
        <div class="header-center">
            <h1>Create Account </h1>
        </div>
        <!-- white bg -->
        <div class="white_bg">
            <h3 class="text-center">Tell us your Work Status</h3>

            <div class="row">
                <div class="col-md-6 box-1 text-center">
                    <div class="img-box">
                        <img src="assets/images/breif1.jpg" alt="briefcase" />
                    </div>
                    <p>I have at least 1 month of <br />
                        work experience </p>

                    <div class="btn-box">
                        <a routerLink="/signin" routerLinkActive="active"  class="btn"> I am a Experienced </a>

                    </div>

                </div>
                <div class="col-md-6 box-1 text-center">
                    <div class="img-box">
                        <img src="assets/images/gradu.jpg" alt="briefcase" />
                    </div>
                    <p>I have just graduatd/I haven't <br />

                        work after graduation </p>

                    <div class="btn-box">
                        <a routerLink="/register" routerLinkActive="active" class="btn gry-bg"> I am a Fresher </a>

                    </div>

                </div>

            </div>
        </div>
        <!-- white bg -->
    </div>
</div>